http_interactions:
- request:
    method: GET
    uri: https://api.github.com/repos/frbcesab/r-templates/contents/
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: '"82dcfcc61dace3bdc899dbd07c4dfa72d34c91ad"'
      last-modified: Sat, 25 Apr 2026 13:50:21 GMT
      x-github-api-version-selected: '2022-11-28'
      x-github-media-type: github.v3; param=raw; format=json
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '47'
      x-ratelimit-used: '13'
      x-ratelimit-resource: core
      x-ratelimit-reset: '1778147321'
    body:
      string: |
        [
          {
            "name": "LICENSE",
            "path": "LICENSE",
            "sha": "0909dcf88476bebb16c378a49ce50af22d14dd49",
            "size": 1072,
            "url": "https://api.github.com/repos/FRBCesab/r-templates/contents/LICENSE?ref=main",
            "html_url": "https://github.com/FRBCesab/r-templates/blob/main/LICENSE",
            "git_url": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/0909dcf88476bebb16c378a49ce50af22d14dd49",
            "download_url": "https://raw.githubusercontent.com/FRBCesab/r-templates/main/LICENSE",
            "type": "file",
            "_links": {
              "self": "https://api.github.com/repos/FRBCesab/r-templates/contents/LICENSE?ref=main",
              "git": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/0909dcf88476bebb16c378a49ce50af22d14dd49",
              "html": "https://github.com/FRBCesab/r-templates/blob/main/LICENSE"
            }
          },
          {
            "name": "README.md",
            "path": "README.md",
            "sha": "ab9486cc3292608223cb46d4dd4f916e5087ffe0",
            "size": 2743,
            "url": "https://api.github.com/repos/FRBCesab/r-templates/contents/README.md?ref=main",
            "html_url": "https://github.com/FRBCesab/r-templates/blob/main/README.md",
            "git_url": "https://api.github.com/repos/FRBCe[...]
