http_interactions:
- request:
    method: GET
    uri: https://api.github.com/repos/frbcesab/r-templates/contents/git
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"82dcfcc61dace3bdc899dbd07c4dfa72d34c91ad"
      last-modified: Sat, 25 Apr 2026 13:50:21 GMT
      x-github-media-type: github.v3; param=raw; format=json
      deprecation: Tue, 10 Mar 2026 00:00:00 GMT
      sunset: Fri, 10 Mar 2028 00:00:00 GMT
      link: <https://docs.github.com/en/rest/about-the-rest-api/api-versions>; rel="deprecation";
        type="text/html"
      x-github-api-version-selected: '2022-11-28'
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '14'
      x-ratelimit-used: '46'
      x-ratelimit-resource: core
      x-ratelimit-reset: '1778147321'
    body:
      string: |
        [
          {
            "name": "README.md",
            "path": "git/README.md",
            "sha": "a6eb60eef84e3ca5ea676b0f31dec4893c7b0660",
            "size": 185,
            "url": "https://api.github.com/repos/FRBCesab/r-templates/contents/git/README.md?ref=main",
            "html_url": "https://github.com/FRBCesab/r-templates/blob/main/git/README.md",
            "git_url": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/a6eb60eef84e3ca5ea676b0f31dec4893c7b0660",
            "download_url": "https://raw.githubusercontent.com/FRBCesab/r-templates/main/git/README.md",
            "type": "file",
            "_links": {
              "self": "https://api.github.com/repos/FRBCesab/r-templates/contents/git/README.md?ref=main",
              "git": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/a6eb60eef84e3ca5ea676b0f31dec4893c7b0660",
              "html": "https://github.com/FRBCesab/r-templates/blob/main/git/README.md"
            }
          },
          {
            "name": "gitignore",
            "path": "git/gitignore",
            "sha": "abed36027d5e813f7ff0751f65300d61c0cfac81",
            "size": 301,
            "url": "https://api.github.com/repos/FRBCesab/r-templates/contents/git/gitignore?ref=main",
            "html_url": "https://github.com/FRBCesab/r-templates/blob/main/git/gitignore",
            "git_url": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/abed36027d5e813f7ff0751f65300d61c0cfac81",
            "download_url": "https://raw.githubusercontent.com/FRBCesab/r-templates/main/git/gitignore",
            "type": "file",
            "_links": {
              "self": "https://api.github.com/repos/FRBCesab/r-templates/contents/git/gitignore?ref=main",
              "git": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/abed36027d5e813f7ff0751f65300d61c0cfac81",
              "html": "https://github.com/FRBCesab/r-templates/blob/main/git/gitignore"
            }
          }
        ]
  recorded_at: 2026-05-07 09:42:14
recorded_with: VCR-vcr/2.1.0
