http_interactions:
- request:
    method: GET
    uri: https://api.github.com/repos/frbcesab/r-templates/contents/actions
  response:
    status: 200
    headers:
      etag: '"82dcfcc61dace3bdc899dbd07c4dfa72d34c91ad"'
      last-modified: Sat, 25 Apr 2026 13:50:21 GMT
      x-github-api-version-selected: '2022-11-28'
      content-type: application/json; charset=utf-8
      x-github-media-type: github.v3; param=raw; format=json
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '12'
      x-ratelimit-used: '48'
      x-ratelimit-resource: core
      x-ratelimit-reset: '1778147321'
    body:
      string: |
        [
          {
            "name": "R-CMD-check.yaml",
            "path": "actions/R-CMD-check.yaml",
            "sha": "3e9844093d456121d7d1bbb736043084a4e02c62",
            "size": 1395,
            "url": "https://api.github.com/repos/FRBCesab/r-templates/contents/actions/R-CMD-check.yaml?ref=main",
            "html_url": "https://github.com/FRBCesab/r-templates/blob/main/actions/R-CMD-check.yaml",
            "git_url": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/3e9844093d456121d7d1bbb736043084a4e02c62",
            "download_url": "https://raw.githubusercontent.com/FRBCesab/r-templates/main/actions/R-CMD-check.yaml",
            "type": "file",
            "_links": {
              "self": "https://api.github.com/repos/FRBCesab/r-templates/contents/actions/R-CMD-check.yaml?ref=main",
              "git": "https://api.github.com/repos/FRBCesab/r-templates/git/blobs/3e9844093d456121d7d1bbb736043084a4e02c62",
              "html": "https://github.com/FRBCesab/r-templates/blob/main/actions/R-CMD-check.yaml"
            }
          },
          {
            "name": "README.md",
            "path": "actions/README.md",
            "sha": "92138d7508b7abfc9bcc0dfc328d71bc2645ee5a",
            "size": 2728,
            "url": "https://api.github.com/repos/FRBCesab/r-templates/contents/actions/README.md?ref=main",
            "html_url": "https://github.com/FRBCesab/r-templates/blob/main/actions/README.md",
            "git_[...]
